<div class="container">
<div class="well col-md-6 col-md-offset-3" style="padding:100px; text-align:center;">

<h1 class="pacifico_font cool_red">The Movie App</h1>

<p>A very basic movie app</p>

<%= link_to "Welcome", root_path, :class => 'btn btn-lg btn-danger' %> 

</div>
</div>