<div class="col-md-10 col-md-offset-1">
<div class="jumbotron jumbotron-two">

  <h1 style="text-align:center;" class="pacifico_font" style="color:#666666;">BEWD Tunes!</h1>
  <p style="text-align:center;"><%= link_to "See Artists", artists_path, :class => 'btn btn-lg btn-danger' %> </p>

</div>
</div>
