<h1>Welcome to Secret Number!</h1>

<p>To play this game, all you have to do is guess a number. If you guess the <em>secret number</em>, you win!</p>

<p>Choose carefully... you only get one try!</p>

<h2>Pick a number:</h2>

<ul>
<% (1..5).each do |number| %>
  <li><%= link_to number, secret_number_path(number) %></li>
<% end %>
</ul>