@import 'bootstrap';


/* FONTS */

.pacifico {
  font-family:  "Pacifico";
}

/* COLORS */

.purple {
  background-color: #663366;
}


/* BUTTONS */



.btn-black {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}


.btn-black:hover,
.btn-black:focus,
.btn-black:active {
  color: #ffffff;
  background-color: #cccc33;
  border-color: #cccc33;
}



.well.white {  
  background-color:#ffffff;
}

.well.green {  
  background-color:#000000;
}

.panel-black {
  background-color:#000000;
  color: #ffffff;
}













