
<div class="well">
<%= simple_form_for(@artist, html: {:class => 'form-horizontal'} ) do |f| %> 

<%= f.input :name, label: false, input_html: {:class => 'form-control', placeholder: 'Artist Name'} %> 
<br/> 

<%= f.input :profile_image, label: false, input_html: {:class => 'form-control', placeholder: 'Artist Picture'} %> 
<br/> 

<div style="text-align:center;">
<%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-danger' %> 
</div>
<%end %> 

</div>