<div class="col-md-12">
<h1 style="color:#666666;">Artist Index Page</h1>

<div class="table-responsive">
<table class="table table-str
iped table-hover">


  <tr class="small">

    <th> Artist Image </th>
    <th> Actions </th>
  </tr>

<% @artists.each do |artist| %>
  <tr class="small">
    <td class="col-md-4"> <%= image_tag(artist.profile_image,:class => 'img-thumbnail img-rounded img-responsive') unless artist.profile_image.nil?%> </td>
    <td> <%= link_to "Show", artist_path(artist), :class => 'btn btn btn-warning'  %> 
    <%= link_to "Edit", edit_artist_path(artist), :class => 'btn btn btn-default'%>
    <%= link_to 'Delete', artist, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn btn-danger' %>
    </td>
  </tr>

<% end %>  

</table>


</div>

</div>

