@import "bootstrap";
@font-awesome-sprockets;
@font-awesome;

@import url(http://fonts.googleapis.com/css?family=Pacifico);

.pacifico_font {
  font-family: 'Pacifico'
}

.btn-black {
  color:#ffffff;
  background-color: #000000;
  border-color: #eeeeee;

}